# See https://atom.io/docs/latest/creating-a-package#menus for more details

'context-menu':
  'atom-workspace': [
    {
      label: 'Toggle language-autohotkey', 'command': 'language-autohotkey:toggle'
    }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'language-autohotkey'
        'submenu': [
          {
            'label': 'Toggle'
            'command': 'language-autohotkey:toggle'
          }
        ]
      }
    ]
  }
]
